---
layout: default
title: Jaseem Thayal Shareef
published: true
---

<div id='bio'>
  Hi there! I'm Jaseem. Co-founder of <a href="http://wowmakers.com" target="_blank">WowMakers</a> and <a href="http://crowdstudio.in" target="_blank">CrowdStudio</a>. Frog in a well. Trying to figure out the well.
</div>

<div class='posts'>
  {% for post in site.posts %}
    {% unless post.next %}
      <h3 class='year'>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year  %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3 class='year'>{{ post.date | date: '%Y' }}</h3>
      {% endif %}

    {% endunless %}
    <a href='{{ post.url }}'>
      <span class='title'>{{ post.title }}</span>
      <span class='published-on'>{{ post.date | date_to_string }}</span>
    </a>
  {% endfor %}
</div>